.flight-result__logo {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 0.25rem;
}

.flight-result {
    display: grid;
    gap: 1rem;
    border-bottom: 1px solid #22222230;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
    padding: 1rem;
    background-color: white;
}

.flight-result__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flight-result__info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.flight-result__airport {
    font-size: 0.75rem;
    filter: var(--opacity-60);
}

.flight-result__favorite {
    cursor: pointer;
    background-color: transparent;
    border: 0;
    font-size: 1.3rem;
}

.flight-result__timeline {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.flight-result__leg {
    display: grid;
}

.flight-result__time {
    font-size: 0.875rem;
}

.flight-result__iata {
    text-align: center;
    font-size: 0.875rem;
    filter: var(--opacity-60);
}

.flight-result__duration {
    width: 100%;
    max-width: 130px;
}

.flight-result__duration-text {
    font-size: 0.75rem;
    filter: var(--opacity-80);
    text-align: center;
}

.flight-result__airline {
    display: flex;
    gap: 10px;
}

.flight-result__line {
    height: 1px;
    width: 100%;
    background-color: #ccc;
    border: none;
}

.flight-result__icon {
    /* Customize if needed */
}

.flight-result__footer {
    display: flex;
    gap: 8px;
    border-top: 1px solid #22222230;
    justify-content: end;
    padding-top: 1rem;
}

.flight-result__deal {
    /* Optional wrapper */
}

.flight-result__deal-price {
    font-size: var(--fs-figtree-h3);
}

.flight-result__select-btn {
    /* Button override if needed */
}
